@import "../shared/common";

.community {
  .section {
    width: 80%;
    margin: 2em auto;
  }

  .title {
    color: $header-text;
    font-size: 2em;
    margin-bottom: 0.4em;
  }

  .text {
    font-size: 1.2em;
    line-height: 1.2em;
  }
}
