.oneYear {
  .title {
    margin-bottom: 0.3em;
    font-size: 1.1em;
    font-weight: 700;
  }

  .teamTitle,
  .namesTitle {
    font-size: 1.05em;
    margin-bottom: 0.2em;
  }

  ul {
    margin: 0.5em 0;

    li {
      text-indent: 1em;
      line-height: 1.4em;
      font-size: 1.15em;
      font-size: 1.05;
      margin-left: 1em;
      &::before {
        position: relative;
        left: -1.2em;
        content: "\2022";
        color: $header-text;
        font-weight: bold;
        display: inline-block;
        width: 1em;
      }
    }
  }
}
