@import "common";

$footer-background: #28292a;
$faded-grey: #767373;

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @include le-lg {
    width: 95%;
  }
}

.footer {
  background: $footer-background;
  font-family: $body-font;
  color: $header-white;
  text-align: center;
  padding: 30px 0;

  .logo img {
    max-width: 100%;
    height: auto;
  }

  .navFooter {
    @include le-lg {
      width: 100%;
    }
    display: flex;
    position: relative;
    left: -0.4em;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;

    .navLink {
      display: inline-flex;
      align-items: center;
      text-transform: uppercase;

      a {
        font-size: 1.37em;
        color: $header-white;
        text-decoration: none;
        margin: 0 6px;
        display: inline-block;
        @include le-lg {
          font-size: 1.2em;
        }
      }

      &::before {
        content: "|";
        align-self: center;

        font-size: 2em;
        font-weight: 700;
        margin: 2px 8px;
        visibility: hidden;

        @include le-lg {
          font-size: 1.5em;
        }
      }

      &:not(.first)::before {
        visibility: visible;
      }
    }
  }

  .logo {
    margin: 7px 0 10px 0;
  }

  .title {
    font-size: 1.1em;
    color: #aca7a7;
    margin-bottom: 14px;
  }

  .copyNotice,
  .designNotice {
    font-size: 0.78em;
    color: $faded-grey;
  }

  .designNotice {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;

    img {
      margin: 4px 0 0 4px;
      @include le-lg {
        width: 40px;
      }
    }
  }
}
