@import "common";

$header-background: #25282e;
$stripes: #0a0d12;

$faded-white: #aaa9a9;

.header {
  font-family: $body-font;
  background-image: linear-gradient(
    45deg,
    $header-background 37.5%,
    $stripes 37.5%,
    $stripes 50%,
    $header-background 50%,
    $header-background 87.5%,
    $stripes 87.5%,
    $stripes 100%
  );
  background-size: 5.66px 5.66px;
  min-height: 45px;

  position: relative;
  z-index: 5;

  @include xl {
    font-size: 0.85em;
  }

  .container {
    display: flex;
    height: 100%;
    justify-content: space-between;
  }

  .hamburger {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 21px;
    padding: 2px;
    background: none;
    border: none;
    outline: none;

    .line {
      height: 3px;
      width: 100%;
      background: white;
      border-radius: 20px;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    img {
      max-width: 100%;
      height: auto;
      margin-left: 5px;

      @include le-lg {
        margin: 5px;
      }
    }
  }

  .mainNav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  a {
    transition: color 0.2s ease 0s;
  }

  a.linkActive {
    color: white !important;
    &::after {
      content: "";
      display: block;
      margin-top: 3px;
      height: 1px;
      background: #bbb;
      width: 100%;
    }
  }

  .navLinks,
  .navBack {
    display: flex;
    height: 100%;

    .navLink {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      letter-spacing: 0.5px;

      a {
        font-size: 0.67em;
        font-weight: 500;
        color: #bbb;
        transition: color 0.3s ease;
        &:hover {
          color: $header-white;
        }
        text-decoration: none;
        margin: 0 6px;
        display: inline-block;
      }
    }

    .cta {
      background: $header-text;
      a {
        color: $header-white;
        &::after {
          content: "";
          display: block;
          width: 0;
          margin-top: 2px;
          height: 1px;
          background: $header-white;
          transition: width 0.3s;
        }

        &:hover::after,
        &:focus::after {
          width: 100%;
        }
      }
    }
  }

  .navBack {
    .faded a {
      color: $faded-white;
      font-size: 0.635em;
      z-index: 4;

      &::after {
        background: $faded-white;
      }
    }
    $color: #fff;

    .search {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      min-width: 45px;
      padding: 0 10px;

      @include gt-lg {
        margin-left: 35px;
      }
    }

    .searchContent {
      display: table;

      input {
        background: none;
        border: none;
        outline: none;
        width: 28px;
        min-width: 0;
        padding: 0;
        z-index: 1;
        position: relative;
        line-height: 18px;
        margin: 5px 0;
        font-size: 14px;
        -webkit-appearance: none;
        font-family: "Mukta Malar";
        transition: all 0.6s ease;
        cursor: pointer;
        color: $color;
        & + div {
          position: relative;
          height: 28px;
          width: 100%;
          margin: -28px 0 0 0;
          svg {
            display: block;
            position: absolute;
            height: 28px;
            width: 160px;
            right: 0;
            top: 0;
            fill: none;
            stroke: $color;
            stroke-width: 1.5px;
            stroke-dashoffset: 212.908 + 59;
            stroke-dasharray: 59 212.908;
            transition: all 0.6s ease;
          }
        }
        &:not(:placeholder-shown),
        &:focus {
          width: 160px;
          padding: 0 4px;
          cursor: text;
          & + div {
            svg {
              stroke-dasharray: 150 212.908;
              stroke-dashoffset: 300;
            }
          }
        }
      }
    }
  }

  @include le-lg {
    .hamburger {
      display: flex;
    }

    .container {
      flex-direction: column;
      align-items: flex-start;

      .mainNav {
        flex-direction: column;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out 0s;

        .navLinks,
        .navBack {
          flex-direction: column;

          .navLink {
            justify-content: center;

            padding: 0.7rem 1rem;
            width: 100%;
            font-size: 1.3em;
          }
        }

        &.active {
          max-height: 150vh;
          transition: max-height 0.5s ease-in 0s;
        }
      }
    }
  }
}
