@import "./common";

.sideNav {
  background: $header-text;
  font-size: 1.2em;
  padding: 0.8em 1em;
  display: inline-flex;

  @include gt-lg {
    flex-direction: column;
  }

  .itemName {
    position: relative;
    background: none;
    outline: none;
    padding: none;
    border: none;
    border-radius: 5px;
    width: 100%;

    font-family: $body-font;

    color: white;
    text-align: center;
    font-size: 0.7em;
    padding: 0.7em;

    transition: color 0.1s ease-in 0s, background-color 0.1s ease-in 0s;
  }

  .outerBtn {
    padding: 0 1em;
    @include gt-lg {
      padding: 0.4em 0;
    }
    display: flex;
  }

  .outerBtn + .outerBtn {
    @include le-lg {
      border-left: 1px solid white;
    }
    @include gt-lg {
      border-top: 1px solid white;
    }
  }

  .current {
    background-color: white;
    color: $header-text;
    transition: color 0.1s ease-out 0s, background-color 0.1s ease-out 0s;
  }

  .current::after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: white;
    opacity: 0.3;
  }
}
