@import "../shared/common";

.tabbedExchange {
  display: flex;
  flex-direction: column;
  @include gt-lg {
    flex-direction: row;
  }
  height: 99vh;

  .leftSide {
    height: 10em;
    @include gt-lg {
      height: auto;
      width: 15vw;
    }
  }

  .rightSide {
    .rightSideContent {
      margin: 1em 2em;
    }
    height: auto;
    flex-grow: 1;
  }
}
