@import "../shared/common";

.aboutComponent {
  display: flex;
  flex-direction: column;
  @include le-lg {
    align-items: center;
    img {
      min-width: 50vw;
      margin: 2em 0 3em;
    }
  }
  @include gt-lg {
    flex-direction: row;
    &.isLeft {
      flex-direction: row-reverse;
      .rightSide {
        img {
          margin-left: 0;
          margin-right: 2em;
        }
      }
    }
  }

  .rightSide {
    flex-grow: 1;
    img {
      width: 25vw;
      margin-left: 2em;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-family: $header-font;
    font-size: 2.4em;
    margin-bottom: 0.4em;
  }

  ul li {
    text-indent: 1em;
  }

  p,
  ul li {
    line-height: 1.4em;
    font-size: 1.15em;
  }

  p + p {
    margin-top: 1em;
  }

  ul {
    margin: 0.8em 0;
    li {
      margin-left: 1em;
      &::before {
        position: relative;
        left: -2em;
        content: "\2022";
        color: $header-text;
        font-weight: bold;
        display: inline-block;
        width: 1em;
      }
    }
  }

  h3 {
    font-size: 1.6em;
    color: $header-text;
    margin: 0.7em 0 0.4em;
  }
}
