@import "../shared/common";
@import "../shared/oneyear_common";

.oneYear {
  width: 100%;
  height: 100%;

  .year {
    display: inline-block;
  }

  .comment {
    color: grey;
    font-style: italic;
  }
}
