@import "../shared/common";

.tabbedRecords {
  display: flex;
  height: 99vh;

  .leftSide {
    width: 15vw;
  }

  .rightSide {
    .rightSideContent {
      margin: 1em 2em;
    }

    flex-grow: 1;

    .rest .competition {
      margin: 1em 0;
    }
  }
}
