@import "../common";

.tabbedRecords {
  display: flex;

  .leftSide {
    width: 15vw;
    height: calc(100vh - 45px);
  }

  .rightSide {
    .rightSideContent {
      margin: 1em 2em;
    }

    flex-grow: 1;
    height: calc(100vh - 45px);

    .rest .competition {
      margin: 1em 0;
    }
  }
}
