@import "../common";

section#landing {
  height: calc(100vh - 45px);
  background-image: url("../../assets/images/IMG-20190910-WA0039.jpg");
  background-position: center;
  background-size: cover;
  padding: 30px;
  position: relative;
  display: flex;

  .overlay {
    position: absolute;
    background: #173247;
    opacity: 0.8;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }

  .container {
    z-index: 1;
    width: 97%;
    height: 100%;
    margin: 0 auto;
  }

  .content {
    display: flex;
    margin-top: 5vh;
    margin-right: -50px;
    align-items: center;
    height: 230px;

    .text {
      display: flex;
      flex-direction: column;
      color: $header-white;
      text-align: center;

      .title {
        font-family: $header-font;
        font-weight: 600;
        font-size: 3em;
        text-transform: uppercase;
      }

      .subtitle {
        font-family: $body-font;
        font-size: 1.7em;
      }
    }

    .logo {
      position: relative;
      left: -38px;
      top: -9px;
      max-width: 100%;
      height: auto;
    }
  }
}
