@import "../common";

section#mission {
  background: $header-white;
  display: flex;
  height: 73vh;
  width: 100%;

  .images {
    height: 100%;
    min-width: 45vw;
    flex-grow: 1;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .text {
      text-align: center;
      font-size: 2.5em;
      padding-right: 8px;
    }

    .cta {
      margin: 2em 0 0 2em;
    }
  }
}
