@import "../shared/common";

section#thename {
  background-color: $header-white;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 20vh;

  .content {
    padding: 40px 0;
    height: 100%;

    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30%;
      width: 100%;

      .line {
        flex-grow: 1;
      }
    }

    .title {
      font-size: 3.2em;
      font-family: $header-font;

      color: $header-text;
      width: 60%;

      .place {
        color: $body-text;
      }
    }

    .subtitle {
      font-size: 2em;
      color: #646567;
      font-weight: 300;
    }

    .line {
      height: 2px;
      background-color: #58595b;
    }

    .separator {
      display: inline-block;
      min-width: 230px;
      margin: 30px 0 15px 0;
      @include le-lg {
        min-width: 10em;
      }
    }
  }
}
