@import "../shared/common";

section#vision {
  position: relative;
  padding-bottom: 50px;
  padding-right: 20px;

  .rect {
    background: $header-text;
    z-index: -1;

    position: absolute;
    right: 0;
    top: 0;

    @include le-lg {
      left: 0;
      right: 0;
      height: 20%;
      width: 100%;
    }

    @include gt-lg {
      bottom: 0;
      height: 100%;
      width: 25%;
    }
  }

  .imgContainer {
    width: 350px;
    height: 350px;
    overflow: hidden;
    margin: 2em 0 0 1em;
    img {
      height: 300px;
      object-fit: cover;
    }
  }

  .container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    @include le-lg {
      flex-direction: column-reverse;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    flex-shrink: 10;
    width: 70%;

    .title {
      font-size: 2.5em;
      line-height: 1.1em;
      margin-bottom: 0.7em;
    }

    .subtitle {
      font-size: 1.3em;
      color: #767778;
      margin-left: 2em;
      margin-bottom: 2.6em;
    }

    .cta {
      margin-left: 7em;
    }
  }
}
