@import "../common";

section#vision {
  height: 70vh;
  position: relative;
  padding-bottom: 50px;
  padding-right: 20px;

  .rect {
    height: 100%;
    width: 25%;
    background: $header-text;
    z-index: -1;

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .text {
    display: flex;
    flex-direction: column;
    flex-shrink: 10;
    width: 70%;

    .title {
      font-size: 2.5em;
      line-height: 1.1em;
      margin-bottom: 0.7em;
    }

    .subtitle {
      font-size: 1.3em;
      color: #767778;
      margin-left: 2em;
      margin-bottom: 2.6em;
    }

    .cta {
      height: 1.3em;
      width: 5.8em;
      font-size: 1.5em;
      color: $header-text;
      margin-left: 7em;
      cursor: pointer;

      &::after {
        content: "";
        display: block;
        width: 0;
        margin-top: 4px;
        height: 2.7px;
        background: $header-text;
        transition: width 0.3s;
      }

      &:hover::after,
      &:focus::after {
        width: 74.5%;
      }

      svg {
        margin-left: 10px;
        height: 0.8em;
      }
    }
  }
}
