@import "../shared/common";
@import "./common_campus";

.community {
  .section {
    width: 80%;
    margin: 2em;
  }

  .subtitle {
    color: $header-text;
    font-size: 2em;
    margin-bottom: 0.4em;
  }

  .text {
    font-size: 1.2em;
    line-height: 1.2em;
  }
}
